@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@tailwind base;
@tailwind components;
@tailwind utilities;